.newDiscussionBtn {
  margin-top: 20px;
}

.errorMsg {
  margin-top: 20px;
  color: rgba(231, 76, 60,1.0);
  text-align: center;
  font-size: 12px;
  font-weight: bold;
}
ul{ list-style: none; }
*{ margin: 0;padding: 0; }
.ads{
    width: 400px !important;
    height: 300px !important;
    margin: 20px auto;
    position: relative;
    overflow: hidden;
}
.ads img{
    width: 500px; 
    height: auto;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
    animation-timing-function: linear;
    animation-duration:2s;
    animation-fill-mode:forwards;
}
.ads img.show{
    animation-name: show;
}
.ads img.unshow{
    animation-name: disapper;
}
.ads ul{
    position: absolute;
    bottom: 10px; left: 240px; 
}
.ads ul li{
    width: 12px; height: 12px;
    float: left;
    background: rgba(255,255,255,0.7);
    margin-right: 8px;
    border-radius: 50%;
    cursor: pointer;
}
.ads ul li.active{ background: orange; }
@keyframes show{
    from{opacity:0;}
    to{opacity:1;}
}
@keyframes disappear{
    from{opacity:1;}
    to{opacity:0;}
}
.goodsDetail{
    position: relative;
    width: 100%;
    height: 300px;
    border: 1px solid red;
    margin: 0 auto;
  }
  .detailLeft{
    width: 40%;
    float:left;
    height: 100%;
    border: 1px solid black;
  }
  .detailRight{
    float: left;
    margin-left: 20px;
    width: 50%;
    height: 100%;
    border: 1px solid yellow;
  }
  .goodsDis span{
    font-weight: bold;
    height: 30px;
    line-height: 30px;
  }
  .buyCount>input{
    width: 40px;
    padding: 5px;
  }
  .addCount{
    background-color: #eaeaea;
  }
  .goodsPrice{
    margin-top: 10px;
    vertical-align: middle;
    font-size: 30px;
    color: #FF0036;
    font-weight: bolder;
    font-family: Arial;
  }
  .goodsWeight,.buyCount{
    height: 50px;
    line-height: 50px;
  }
  .buyNow,.buyCar{
    width: 150px;
    height: 40px;
    padding: 4px 6px;
    font-size: 25px;
    border-radius: 5px;
    background-color: #ffeded;
    border: 1px solid #FF0036;
    color: #FF0036;
    outline:none;
  }
  .buyCar{
      margin-left: 20px;
  }
  .serve{
    color: #666;
    font-size: 14px;
  }
  .serve{
    position: absolute;
    bottom: 0;
  }
.img:hover{
  margin-right:70px;
}