.link{
    width:100px;
    height: 32px;
    line-height: 32px;
    background-color:#6FCE53;
    color: #fff;
    border-radius: 6px;
    margin-left: 250px;
    display: inline-block;
    text-align: center
  }